<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome!</title>
    <meta name="description" content="Mocha and Chai">
    <link id="favicon" rel="icon" href="https://glitch.com/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Test before Deploy
      </h1>
    </header>

    <main>
      <p class="bold">Oh hi,</p>
      <p>Check out the server logs in the Glitch editor of this project.</p>
    </main>
    
    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="script.js"></script>
  </body>
</html>
